<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zty.recruit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".base.RecruitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.DownloadApkService"></service>

        <activity
            android:name=".ui.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxc300ab3866922fe6" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".ui.activity.person.ConfirmPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.activity.school.SchoolActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.SchoolDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.CollegeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.MajorListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.MoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".ui.activity.person.ArchivesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.person.SetSexActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.SetTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.activity.person.SetEducationActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.SetPositionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.school.PanoramaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.school.CollegeListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.LearnActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.InstitutionDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.MajorDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.MajorPlanActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"></activity>

        <activity
            android:name=".ui.activity.learn.EnrollActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.StudySchoolDetail"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.StudyVideoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.StudyMajorActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.StudyEnrollActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.job.JobActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.OrderActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.IntegralActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.NoticeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.VersionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.ResetPwActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.MajorSchoolActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.RegisterActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.SetNewPwActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.PanoramaDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.school.SchoolSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.NoticeDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.PayActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.MajorSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.TrainSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.learn.StudySearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.school.PanoramaWebActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.person.AboutUsActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>